BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 100
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
IndentCaseLabels: false
AlignConsecutiveMacros: true
SortIncludes: true
